<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" style="color: white" href="#">dashboard</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ suser }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'logout' %}">注销</a></li>
                    </ul>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div id="base-area">
    <ul class="side-menu">
        <li><a href="{% url 'admin_manger' %}?page=1">管理员</a></li>
        <li>用户</li>
        <li><a href="{% url 'video_type' %}?page=1">视频类型</a></li>
        <li><a href="{% url 'video_from' %}?page=1">视频来源</a></li>
        <li><a href="{% url 'video_nationality' %}?page=1">视频国籍</a></li>
        <li><a href="{% url 'external_video' %}">外链视频</a></li>
        <li><a href="">自制视频</a></li>
    </ul>

    <div class="base-content">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>

{% block js %}

{% endblock %}
</html>


